<div class="w-full p-8">

    <p class="text-green-800 font-bold text-lg mb-2">Comments (115,546)</p>

    <div class="bgcomment p-2 mt-4">
    <p class="text-sm">John Doe </p>
    <p class="text-xs text-red-600 mb-4">last updated sept 13, 2023</p>
    <p class="text-sm ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quidem cum natus blanditiis. Labore, dignissimos. Beatae consequatur amet quidem autem. Asperiores incidunt itaque illo explicabo animi! Laboriosam aspernatur quaerat nisi.</p>

    <div class="flex gap-4 mt-4">
        <p class="text-green-800">Reply</p>
        <p class="text-green-800">View Replies</p>
    </div>
    </div>
    

</div>