
    <div class="max-w-7xl mx-auto aboutBg w-full ">
        <div class="p-8 ">
        <p class="uppercase font-bold text-center text-2xl text-white">About Us</p>
        
        <div class="p-4 aboutBg1 mt-4 ">  

            <p class="text-lg p-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, provident explicabo? Eius minus ad voluptas qui eligendi! Aperiam deleniti libero cumque laboriosam, adipisci praesentium, odit sequi tempora sint expedita mollitia, aliquam quos. Sed, iure rerum architecto amet quia asperiores sequi saepe repellendus vero tempora. Ad reprehenderit, dolore optio nesciunt aspernatur rem alias adipisci provident consequatur sequi tempora natus maiores quisquam incidunt, modi laudantium dolorem sit, minus quos? Veritatis excepturi eveniet similique sed accusantium omnis maiores explicabo adipisci alias nisi. Molestias eos inventore expedita earum corporis assumenda iste doloribus. Iste placeat nobis adipisci reiciendis nesciunt quaerat illo labore nemo consectetur voluptatem.</p>

            <div class="text-center mt-4">
            <button class="butColor text-white text-sm aboutBg p-3 box-Prop">Back to home</button>
            </div>
        </div>
        
    </div>
    </div>
