
    <footer class="flex justify-center items-center flex-col h-36 mt-8">  
        <div class="bgHeader px-5 w-1/2 text-center py-1 rounded-xl text-lg font-bold cursor-pointer activelogo ">
            <a href="#">SLEEKIE BLOG</a>
        </div>
        <div class="flex gap-4 mt-4 detailList">
            <p class="cursor-pointer">Home</p>
            <p class="cursor-pointer">About</p>
            <p class="cursor-pointer">Terms & Conditions</p>
            <p class="cursor-pointer">Contact</p>
        </div>
        <div class="mt-1">
            <p>Copyright c Sleekies Blog 2023</p>
        </div>
    </footer>
