<div class="flex flex-wrap gap-4">

    <div class="ml-4 max-w-sm box-Prop">
        <div class="w-full" >
            <img src='' alt="" class="object-cover overflow-hidden imgCard w-full">
            <div class="flex gap-4 p-3 bg-white">
                <p class="text-red-600 text-md ">Class</p>
                <p class="text-blue-600 text-md ">Featured</p>
                <p class="text-green-600 text-md ">Views  - 100, 258</p>                          
            </div>
            <div class="bg-white p-3">
            <p class="uppercase font-bold ">How to start a blog in 2023 edited new cateogry</p>
            <p class=" mt-2 ml-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex similique maiores vel fuga illum cumque labore consequuntur assumenda, molestiae dolorum corporis. Libero magni esse, incidunt vero ex repellendus maxime optio nemo? Rem neque debitis quidem .</p>
            <p class="uppercase text-orange-400 text-xs mt-3 ml-4">Last updated oct, 20, 2023</p>  
        </div>
        </div>
        </div>

      
</div>
